<div class="monkey">
        <h2>{{name}}</h2>
        <img src={{image}}>
        <button class="showBtn">Info</button>
        <p style="display: none" id={{id}} class="info">
            {{info}}
        </p>
      </div>