<a href="#/details/{{objectId}}" class="card overflow-hidden treksPlaceholder trek-details" style="width: 20rem; height: 18rem;">
    <div class="card-body">
        <p class="card-text">{{location}}</p>
    </div>
    <img class="card-image" src={{imageUrl}} alt="Card image cap">
</a>
